<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link rel="icon" href="{{ url_for('static', filename='img/ico_b.ico') }}"/>
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <title>Beamer - {% block title %}{% endblock %}</title>
</head>
<body>
<div class="outside">
    <div class="center">
        {% block menue %}{% endblock %}
        <div class="content-frame">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div role="alert" class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>