[sip]
root_ca=/etc/ssl/certs
verify_server_certs=1
verify_server_cn=1
contact=sip:admin@unknown-host
media_encryption=none
guess_hostname=1
inc_timeout=30
in_call_timeout=0
delayed_timeout=4
use_ipv6=0
register_only_when_network_is_up=1
register_only_when_upnp_is_ok=1

[misc]
uuid=db4e174c-fad1-4a45-9534-0b9aeb7fd550

[video]
capture=1
display=1
show_local=1
displaytype=BRDisplay
size=cif

[net]
download_bw=0
upload_bw=0
mtu=1300

[rtp]
audio_rtp_port=7078
video_rtp_port=9078
audio_jitt_comp=60
video_jitt_comp=60
nortp_timeout=30
audio_adaptive_jitt_comp_enabled=1
video_adaptive_jitt_comp_enabled=1

[sound]
remote_ring=/opt/linphone/share/sounds/linphone/ringback.wav
playback_gain_db=0.000000
mic_gain_db=0.000000

[audio_codec_0]
mime=speex
rate=16000
channels=1
enabled=1

[audio_codec_1]
mime=speex
rate=8000
channels=1
enabled=1

[audio_codec_2]
mime=PCMU
rate=8000
channels=1
enabled=1

[audio_codec_3]
mime=PCMA
rate=8000
channels=1
enabled=1

[audio_codec_4]
mime=G722
rate=8000
channels=1
enabled=0

[audio_codec_5]
mime=speex
rate=32000
channels=1
enabled=0

[audio_codec_6]
mime=L16
rate=44100
channels=2
enabled=0

[audio_codec_7]
mime=L16
rate=44100
channels=1
enabled=0

[video_codec_0]
mime=MP4V-ES
rate=90000
enabled=0
recv_fmtp=profile-level-id=3

[video_codec_1]
mime=H263-1998
rate=90000
enabled=1
recv_fmtp=CIF=1;QCIF=1

[video_codec_2]
mime=H263
rate=90000
enabled=1

[call_log_0]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777226017
duration=21
quality=4.805976
video_enabled=1
call_id=PKHXJqaA4r

[call_log_1]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225941
duration=41
quality=4.876588
video_enabled=1
call_id=Tnfe60zUD-

[call_log_2]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225873
duration=13
quality=4.887917
video_enabled=1
call_id=OnUqFVidDU

[call_log_3]
dir=1
status=0
from=sip:inf-001@asterix
to=sip:x@192.168.2.114
start_date_time=1777225784
duration=75
quality=4.771393
video_enabled=1
call_id=eL2RYpk09t

[call_log_4]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225543
duration=22
quality=4.871065
video_enabled=1
call_id=iRFtlHY0gl

[call_log_5]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225507
duration=26
quality=4.877184
video_enabled=1
call_id=HXirX7xxya

[call_log_6]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225418
duration=32
quality=4.859560
video_enabled=1
call_id=hFa1OjJh6l

[call_log_7]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225371
duration=32
quality=4.610367
video_enabled=1
call_id=jSVjvso-xS

[call_log_8]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225336
duration=22
quality=4.872321
video_enabled=0
call_id=UU7Ukuwqoe

[call_log_9]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225320
duration=4
quality=4.945354
video_enabled=0
call_id=ro-zzrRHfI

[call_log_10]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225280
duration=13
quality=4.873833
video_enabled=0
call_id=LC3utTTAxg

[call_log_11]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225194
duration=20
quality=4.871216
video_enabled=1
call_id=DbZxw4ZH0I

[call_log_12]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225171
duration=15
quality=4.899567
video_enabled=1
call_id=p2GWowv2-S

[call_log_13]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777225130
duration=39
quality=4.868289
video_enabled=1
call_id=6IF~zTpD07

[call_log_14]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777224998
duration=51
quality=4.898740
video_enabled=1
call_id=I3DxYpoZKu

[call_log_15]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777224923
duration=36
quality=4.371622
video_enabled=1
call_id=Ei0SCVnBJ~

[call_log_16]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777224874
duration=33
quality=4.889481
video_enabled=1
call_id=o7cdScUFUy

[call_log_17]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777224838
duration=14
quality=3.679612
video_enabled=1
call_id=NOWxZhXbMZ

[call_log_18]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777209341
duration=67
quality=1.858303
video_enabled=1
call_id=-B~W4v2AAy

[call_log_19]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1777200103
duration=37
quality=5.000000
video_enabled=1
call_id=WAqZjLVI3t

[call_log_20]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1433341248
duration=107
quality=4.702023
video_enabled=1
call_id=Ou3uFEp~XC

[call_log_21]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1433258708
duration=544
quality=4.478172
video_enabled=1
call_id=HrMtH1qerw

[call_log_22]
dir=0
status=1
from=sip:admin@192.168.2.114:5060
to=sip:inf-999@192.168.2.107
start_date_time=1433258676
duration=0
quality=-1.000000
video_enabled=0
call_id=umFXViqQjt

[call_log_23]
dir=1
status=0
from=sip:inf-999@192.168.2.11
to=sip:x@192.168.2.114
start_date_time=1433258268
duration=192
quality=3.704554
video_enabled=1
call_id=iAEwSZ8kzl

